$zt_border_radius: 5px;
$zt_box_shadow: 0 0 6px rgba(0, 0, 0, 0.6);

$zt_content_color: #FFF;
$zt_content_background: #000;
$zt_content_font_size: 12px;
$zt_content_line_height: 1.4;
$zt_content_padding: 10px;

$zt_close_button_color: #FFF;

$zt_close_button_hover_background: #C2D076;
$zt_close_button_hover_border_radius: 5px;
$zt_close_button_hover_color: #000;

// include '../template'
