body {
    font-family: Tahoma, Arial, Helvetica, sans-serif;
}

.syntaxhighlighter {
    padding: 1em 0;
}

p a {
    text-decoration: underline;
    font-weight: bold;
}

.top {
    position: relative;
    margin-left: 10px;
    top: -10px;
}
