body {
    font-family: Tahoma, Helvetica, Arial, sans-serif;
}

.top {
    border-bottom: 1px solid #eee;
    display: block;
    margin-bottom: 33px;
}

.top a {
    background: #FFF;
    padding-right: 10px;
    position: relative;
    top: 8px;
}

.syntaxhighlighter {
    padding: .5em 0;
}

blockquote.bg-warning.Zebra_Pin {
    border-bottom: 1px solid #ccc;
    box-shadow: 0 12px 6px -6px rgba(0, 0, 0, .1);
    transition: box-shadow .25s linear;
}
