$zt_border_color: #F1D031;
$zt_border_width: 2px;
$zt_box_shadow: 0 0 6px rgba(153, 129, 11, 0.6);

$zt_content_background: #FFFFA3;
$zt_content_color: #444;
$zt_content_font_size: 12px;
$zt_content_line_height: 1.4;
$zt_content_padding: 10px;

$zt_arrow_width: 28px;

$zt_close_button_color: #F1D031;

$zt_close_button_hover_background: #C2D076;
$zt_close_button_hover_border_radius: 5px;
$zt_close_button_hover_color: #000;

@import '../template'
