$zt_border_color: #317CC5;
$zt_border_width: 4px;
$zt_border_radius: 15px;
$zt_box_shadow: 0 0 6px rgba(153, 129, 11, 0.6);

$zt_content_align: left;
$zt_content_background: #FFF;
$zt_content_color: #317CC5;
$zt_content_font_size: 13px;
$zt_content_line_height: 1.4;
$zt_content_padding: 15px;

$zt_arrow_width: 28px;

$zt_close_button_color: #317CC5;

$zt_close_button_hover_background: #317CC5;
$zt_close_button_hover_border_radius: 15px;
$zt_close_button_hover_color: #FFF;

@import '../template'
