body {
    font-family: Tahoma, Arial, Helvetica, sans-serif;
}

.syntaxhighlighter {
    padding: .5em 0;
}

.syntaxhighlighter .code {
    font-size: 14px !important;
}

p a {
    text-decoration: underline;
    font-weight: bold;
}

.top {
    position: relative;
    margin-left: 10px;
    top: -10px;
}
